/* base for css flexbox */
.fl {
    display: flex;
}

.fl-c {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.fl-j-sb {
    justify-content: space-between;
}

.fl-j-sa {
    justify-content: space-around;
}

.fl-j-se {
    justify-content: space-evenly;
}

.fl-j-fs {
    justify-content: flex-start;
}

.fl-j-fe {
    justify-content: flex-end;
}

.fl-a-fs {
    align-items: flex-start;
}

.fl-a-fe {
    align-items: flex-end;
}

.fl-d-row {
    flex-direction: row;
}

.fl-d-row-rev {
    flex-direction: row-reverse;
}

.fl-d-col {
    flex-direction: column;
}

.fl-d-col-rev {
    flex-direction: column-reverse;
}

.fl-w-w {
    flex-wrap: wrap;
}

/* base for height and width */
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.w-100vw {
    width: 100vw;
}

/* base for positions */
.p-fix {
    position: fixed;
}

.p-abs {
    position: absolute;
}

.p-rel {
    position: relative;
}
.t-0 {
    top: 0;
}

.b-0 {
    bottom: 0;
}

.l-0 {
    left: 0;
}

.r-0 {
    right: 0;
}
